*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #fff;
  --color-link-hover: #36b9bb;
  --page-padding: 1.5rem;
  --contact-padding: 5rem;
  --color-card-1: #246185;
  --color-card-2: #9df2eb;

  --color-bg-card: rgba(255, 255, 255, 0.2);
  --color-bg-card-inner: rgb(44, 40, 44);
}

html, body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  overflow-x: hidden;
}

.webgl{
  position: fixed;
  height: 100%;
  background-color: #1a3da5;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5,0.5,1);
  }
}

a {
  text-decoration: underline;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
   that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
   that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
   keyboard-focus on browsers that do support
   :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.frame {
  padding: var(--page-padding);
  position: relative;
  display: grid;
  z-index: 1000;
  width: 100%;
  height: 100%;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;
  grid-template-columns: auto auto;
  grid-template-areas: 'title title' 'back archive' 'sponsor sponsor' 'hire hire';
}

.frame a {
  pointer-events: auto;
}

.frame__title {
  grid-area: title;
  font-size: inherit;
  margin: 0;
}

.frame__back {
  grid-area: back;
  justify-self: start;
}

.frame__archive {
  grid-area: archive;
  justify-self: start;
}

.frame__contact {
  position: fixed;
  bottom: var(--contact-padding);
  right: var(--page-padding);
  width: 50px;
  height: 50px;
  font-size: 14px;
  display: grid;
  place-items: center;
  cursor: pointer;

  border-radius: 50%;
}
.frame__sub {
  display: grid;
  position: fixed;
  bottom: var(--page-padding);
  right: var(--page-padding);
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-link-hover);
  place-items: center;
  border-radius: 50%;
}

.frame__sub:hover::before,
.frame__sub:focus::before  {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30%;
  left: -30%;
}

.frame__sub img, svg {
  fill: var(--color-link-hover);
  width: 25px;
  height: 25px;
}


.modal {
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0,20px,0);
  position: absolute;
  bottom: 55px;
  right: 0px;
  background: #119bb3;
  color: #212525;
  width: 280px;
  max-width: calc(100vw - var(--page-padding) * 2);
  line-height: 1.4;
  padding: 1.5rem;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s;
}




.music {
  z-index: 1000;
}



.circle {
  top: -300px;
  display: inline-block;
  position: relative;
  left: 50px;
  right: 0;
  cursor: pointer;
 

}

.link {
  z-index: 10000;
  display: inline-block;
  position: relative;
  left: 140px;
  top: -35px;
  width: 100px;
  right: 0;
  bottom: 100;
  cursor: pointer;
  text-decoration: none;
}

.button {
 z-index: 10000;
}
.frame__sub:hover .modal,
.frame__sub:focus .modal {
  pointer-events: auto;
  opacity: 1;
  transform: translate3d(0px,0px,0px);
}

.frame__hire {
  grid-area: hire;
  max-width: 200px;
}

.frame__demos {
  grid-area: demos;
  display: flex;
  gap: 1rem;
}

main {
  position: relative;
}

.header {
 
  position:fixed;
  display: grid;
  z-index: 1000;
  width: 100%;
  height: 100%;
  justify-items: start;
  left: 0;
}

nav  {
  padding: 2rem;
  position: fixed;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5rem;
  z-index: 1000;
}

.social-wrapper {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
 ;

}
.social-icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;
}

.social-circle {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0);
  border-radius: 100%;
  position: absolute;
  z-index: auto;
  flex-wrap: normal;
}

.animation-image {
  z-index: 1;
  width: 20px;
  max-width: 100%;
  filter: invert();
  position: relative;
}

.logo{
  width: 130px;
  max-width: 100%;
  display: inline-block;
  position: static;
  z-index: 1000;
}

section1 {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
  user-select: none;
  overflow: hidden;

}

.hero {
  float: left;
  width: 100%;
  padding: 2em 4em;
  height: calc(100% -3em);
}

.hero--container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 10000;

}

.hero--content {
  width: 100%;
  max-width: 500px;
  margin-right: 30%;
  z-index: 10000;
}
.section {
  padding: 10px 10px;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
}
.intro {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 20vh auto;
  grid-template-areas: 'intro-title' 'intro-hint' '...';
  place-items: center;
  margin: 2px 2px 0 0;
  padding: 2 var(--page-padding);
}

.intro__title {
 
  

  text-transform: uppercase;
  font-size: clamp(2rem,7vw,8rem);
  font-weight: 400;

 
  position: relative;
  z-index: 100000;
  align-self: center;
 
  text-align: center;
  margin: 0;
  text-align: center;
}

.intro__hint {
  grid-area: intro-hint;
  position: relative;
  z-index: 100000;
  align-self: center;
  font-size: 1.5rem;
  text-align: center;


  
}

.intro__hint::after {
  content: '\00BB';
  position: absolute;
  top: 100%;
  left: 0%;
  text-align: center;
  font-size: 3rem;
  width: 100%;
  transform: rotate(90deg);
  animation: pulse 0.3s linear alternate infinite;
}

@keyframes pulse {
  to {
    top: 120%;
  }
}

.card1 {
  width: 200vw;
  height: 80vh;
  max-width: 255px;
  min-width: 150px;
  aspect-ratio: 2/3;
  font-size: 9px;
  text-transform: uppercase;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  position: relative;
  align-items: stretch;
  background: var(--color-bg-card);
  opacity: .2;
  
}



.card {
  width: 30vw;
  max-width: 255px;
  min-width: 150px;
  aspect-ratio: 2/3;
  font-size: 9px;
  text-transform: uppercase;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  position: relative;
  align-items: stretch;

  background: var(--color-bg-card);
  opacity: .8;
  grid-template-areas: 'card-img card-img' 'card-title card-meta' 'card-subtitle card-subtitle' 'card-desc card-desc';
}

.card-wrap {
  margin-top: 5vh;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: row;
  grid-template-columns: 250px;
  text-align: center;
  justify-items: center;
}

.card--rel  {
  align-items: start;
  background: rgba(255,255,255,0.1);
}

.card--rel .card__img {
  aspect-ratio: 4 / 3;
  filter: contrast(0.8);
}

.section-title {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: clamp(2rem,6vw,6rem);
  line-height: 1;
  font-weight: 400;
  margin: 25vh auto 0;
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
}

.music-title {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: clamp(2rem,6vw,6rem);
  line-height: 1;
  font-weight: 400;
  margin: 25vh auto 0;
  max-width: 600px;
  text-align: center;
}

.wrap {
  position: relative;
  min-height: 100vh;
}

.wrap__inner {
  position: relative;
  perspective: 1000px;
}

.content {
  width: 100vw;
  position: relative;
  transform-style: preserve-3d;
  display: grid;

  grid-template-areas: 'card';
  grid-template-columns: 100%;
  place-items: center;
}

.content .card {
  grid-area: card;
  background: rgba(132, 128, 143, 0.36);
}



.div-block-5 {
  width: 300;
  height: 150px;
  word-break: normal;
  overflow-wrap: normal;
  position: relative;
  bottom: -93px;
  left: 50px;
}


.grid {
  position: relative;
  perspective: 1000px;
  align-self: start;
  grid-area: intro-title;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: center;
  gap: 10rem;
  filter: brightness(70%);
}
  

.grid2 {
  position: relative;
  perspective: 1000px;
  align-self: center;
  grid-area: intro-title;
  grid-row: 1 / span 3;
  display: grid;
}

.grid .card .card1{
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.8);
}

.card:nth-child(1n) {
  --color-card: var(--color-card-1);
}

.card:nth-child(2n) {
  --color-card: var(--color-card-2);
}

.card:nth-child(3n) {
  --color-card: var(--color-card-3);
}

.card:nth-child(4n) {
  --color-card: var(--color-card-4);
}

.card:nth-child(5n) {
  --color-card: var(--color-card-5);
}

.card:nth-child(6n) {
  --color-card: var(--color-card-6);
}

.card__img {
  grid-area: card-img;
  background-size: cover;
  background-position: fill;
  aspect-ratio: 1;
  max-width: 100%;
  border-radius: 6px 6px 0 0;
  background-repeat: no-repeat;
}

.about {
  opacity: 0;
  will-change: transform, opacity;
  visibility: hidden;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.container {
  position: relative;
  width: 40vw;
}


.footer {
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px 5% 40px 150%;
  display: flex;
  position: relative; 
  top: 8px;
  z-index: 10000;

}
.container__footer {
  z-index: 1000;
  width: 100%;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  bottom: 0;
}


.card > * {
  background-color: var(--color-bg-card-inner);
}
.outro {
  display: grid;
  place-items: center;
  margin: 40vh 0;
}

.outro__title {
  font-weight: 300;
  font-size: clamp(1.5rem,10vw,2rem);
}


.card--rel .card__title {
  grid-column-end: 3;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: none;
  padding: 2rem 1rem 1rem;
}

.credits {
  font-size: 1.5rem;
  text-align: center;
  margin: 50vh auto 0;
  padding-bottom: 50vh;
}







@media screen and (min-width: 53em) {
  body {
    --page-padding: 2rem;
  }
  .frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto auto;
    align-content: space-between;
    grid-template-areas: 'title back archive sponsor' 'hire ... ... sub';
  }
  .frame__sub {
    justify-self: end;
  }
  .frame__title {
    padding-right: 4rem;
  }
  .frame__hire {
    align-self: end;
  }
  .modal {
    bottom: 50px;
    right: 50px;
  }
  .intro {
    grid-template-rows: 60vh 40vh auto;
  }
  .intro__title {
    align-self: end;
  }
  .grid {
    padding-left: 12vw;
    padding-top: 12vh;
  }
  .content {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .card-wrap {
    grid-template-columns: repeat(2, 300px);
  }
}
